<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckOutOrderServlet</display-name>
    <servlet-name>CheckOutOrderServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.CheckOutOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutOrderServlet</servlet-name>
    <url-pattern>/CheckOutOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ExitSignServlet</display-name>
    <servlet-name>ExitSignServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.ExitSignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitSignServlet</servlet-name>
    <url-pattern>/ExitSignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/ViewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConfirmOrderServlet</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RemoveCartServlet</display-name>
    <servlet-name>RemoveCartServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.RemoveCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartServlet</servlet-name>
    <url-pattern>/RemoveCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListOrdersServlet</display-name>
    <servlet-name>ListOrdersServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.ListOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrdersServlet</servlet-name>
    <url-pattern>/ListOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ItemServlet</display-name>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetAccountInfoServlet</display-name>
    <servlet-name>GetAccountInfoServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.GetAccountInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAccountInfoServlet</servlet-name>
    <url-pattern>/GetAccountInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditAccountServlet</display-name>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/EditAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.levi.jpstore.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping> 
  <filter>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.levi.jpstore.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>